.App {
  height: 100vh;
  width: 100vw;
  /* background-color: black; */
  text-align: center;
  
}

.x-wing {
  height: 150px;
  
}

.y-wing {
  height: 150px;
  
}

.a-wing {
  height: 150px;
  
}

.b-wing {
  height: 150px;
  
}

.fighter-flex{
  display: flex;
  justify-content: space-around;
}

.fighter-info-flex{
  display: flex;
  justify-content: space-around;
  padding-left: 30px;
}

.flight-display{
  display: flex;
  justify-content: space-around;
}

.red {
  width: 33vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
}

.gold {
  width: 33vw;
  
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(177, 13, 13);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: gold;
}

input:focus + .slider {
  box-shadow: 0 0 1px gold;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}