.App {
  text-align: center;
}

.x-wing {
  height: 150px;
  
}

.y-wing {
  height: 150px;
  
}

.a-wing {
  height: 150px;
  
}

.b-wing {
  height: 150px;
  
}

.fighter-flex{
  display: flex;
  justify-content: space-around;
}

.fighter-info-flex{
  display: flex;
  justify-content: space-around;
  padding-left: 30px;
}

.flight-display{
  display: flex;
  justify-content: center;
}

.red {
  width: 33vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}